@import '../style/normalize.css';
@import '../style/graphs.css';
@import '../style/projectInfo.css';
@import '../style/projectStats.css';

body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  color: #020621;
}
body {
  padding: 10px;
}

.message {
  position: fixed;
  bottom: 0;
  right: 0;
}
