.project-info {
  margin: 0 0 10px 0;
  height: calc(2em + 3vw);
}
.project-info a {
  text-decoration: none;
}
.project-info .image-wrapper {
  height: 100%;
  float: left;
  margin: 0 10px 0 0;
}
.project-info img {
  height: 100%;
  border-radius: 12.5px;
}
.project-info h1 {
  font-weight: 700;
  font-size: calc(8px + 2vw);
  color: #020621;
  margin: 0;
}
.project-info h1:hover {
  text-decoration: underline;
}
